/* Tailwind Directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Imports */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Custom Font Definitions */

@font-face {
  font-family: 'Bebas';
  src: url('/fonts/BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Font Utility Classes */

.kanit-light {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-semibold {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Tailwind Component Layer */

@layer components {
  /* Custom component styles */
}

/* Global Styles */

body {
  @apply font-body text-default-gray400;
}

.radio-label {
  @apply flex cursor-pointer select-none items-center justify-center text-center text-default-gray300;
}

/* Custom CSS */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: transparent;
}
