@tailwind base;
@tailwind components;
@tailwind utilities;
.example {
    background-clip: text;
    transition: transform 0.3s ease;
}

.example1 {
    background-clip: text;
    transition: transform 0.3s ease;
}